soapWithSpringBoot/src/main/resources/lgnsoap.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://soap.lgn.com/" elementFormDefault="qualified">

    <xs:element name="getSoapRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getSoapResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="output" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>